@model CondominioFacilDDD.MVC.ViewModels.RuaViewModel

<ul class="breadcrumb">
    VOCÊ ESTA EM:
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink("Ruas", "Index", "Ruas")
    </li>
    <li class="active">
        Detalhes
    </li>
</ul>

@{
    ViewBag.Title = "Detalhes da Rua";
}

<blockquote><h2>Detalhes das ruas</h2></blockquote>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Atualizar", "Edit", new { id = Model.RuaId }) |
    @Html.ActionLink("Voltar para Ruas", "Index")
</p>
