@model CondominioFacilDDD.MVC.ViewModels.CondominioViewModel

<ul class="breadcrumb">
    VOCÊ ESTA EM:
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink("Condominio", "Index", "Condominios")
    </li>
    <li class="active">
        Detalhes
    </li>
</ul>
@{
    ViewBag.Title = "Detalhes dos Condominios";
}
<blockquote><h2>Detalhes dos Condominios</h2></blockquote>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PropietarioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propietario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidenciaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Residencia.NResidencia)
        </dd>

      

    </dl>
</div>
<p>
    @Html.ActionLink("Atualizar", "Edit", new { id = Model.CondominioId }) |
    @Html.ActionLink("Voltar para Condominios", "Index")
</p>
