@model CondominioFacilDDD.MVC.ViewModels.CondominioViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CondominioViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResidenciaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidenciaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoradorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoradorId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CondominioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
